/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2017, 12:53:25 PM
    Author     : zohaib syed
*/
   body,html{
		height: 100%;
	}

	
	.main .row{
		padding: 0px;
		margin: 0px;
                margin-top: 10px;
	}

	

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
            -webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
            
	}

	
	.main{
		padding: 10px 10px 0 10px;
	}
        
         

	
	@media (min-width: 200px) {
	
		.main{
                        position: absolute;
			width: calc(100% - 40px); 
			margin-left: 40px;
			float: right;
		}

		
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		
		nav.sidebar a{
			padding-right: 10px;
		}

		


		
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			
			border: 0;
			-webkit-box-shadow: none;
			
		}

		
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

                
		nav.sidebar{
			width: 200px;
			height:104%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
                        background-color: black;
                        border: none;
                        
		}

		
		nav.sidebar li {
			width: 100%;
		}

		
		nav.sidebar:hover{
			margin-left: 0px;
		}
		
		.forAnimate{
			opacity: 0;
		}
           .fdiv{
            margin-top: -10px;
            margin-left: -12px;
            border: none;
            background-color: green;
            width: 114%;
            height: 66px;
            background-color: black;
        }
            }

	

	@media (min-width: 768px) {
        
            
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
                        
		}
		
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
                        
		}

		
		nav.sidebar a{
			padding-left: 0px;
                        
                        
		}

		


		
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			
			border: 0;
			-webkit-box-shadow: none;
			
		}

		
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

                
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
                        background-color: black;
                        border: none;
		}

		
		nav.sidebar li {
			width: 100%;
                        
                        
		}

		
		nav.sidebar:hover{
			margin-left: 0px;
		}
		
		.forAnimate{
			opacity: 0;
		}

		
		.main{
                       
			width: calc(100% - 200px); 
			margin-left: 200px;
		}

		
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		
		nav.sidebar .forAnimate{
			opacity: 1;
		}
                
        .fdiv{
            margin-top: -10px;
            margin-left: -11px;
            background-color: green;
            width: 101.5%;
            height: 60px;
            background-color: black;
        }
       
	}


       .card{
    box-shadow: none;
}
